<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/vendedor/fontello/css/fontello.css">
    <title>cultivando juntos</title>
    <script src="../../static/js/main.js" defer></script>
</head>
<body>
    <header>
        <div class="barra-navegacion">
            <div id="logo">
                <a href="">
                    <i class="icon-logocultivando logo-principal-movil"></i>
                </a>
            </div>
            <div id="menu" >
                <i class="icon-menu" ></i>
            </div>
            <nav class="contenedor-menu">
                <i id="cerrar_menu" class="icon-clarity_remove-line"></i>
                <ul class="menu-movil">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">QUINES SOMOS</a></li>
                    <li><a href="#">CONTACTO</a></li>
                    <li><a href="http://localhost:8080/login" class="menu-movil-destacado">LOGIN</a></li>
                    <li><a href="#" class="menu-movil-destacado">CREAR CUENTA</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="primera">
            <h1 class="primera_titulo">
                Caring is the new marketing
            </h1>
            <p class="primera_parrafo">
                Ask CDCR San Quintin State Prison 2008. We installed Purex dispensers throughout the prison to combat diseases…and it was a Roaring Success (as in Roaring Drunk) I mean we had Long lines of prisoners fist fighting to use them.
            </p>
            <button class="primera_botton">
                cultivemos juntos
            </button>
            <img class="primera_imagen" src="../../static/images/index/imagenCorazon.png" alt="cultivando juntos">
        </div>
        <div class="segunda">
            <div class="segunda_quienes-somos">
                    <div class="segunda_quienes-somos_contenedor">
                        <h2 class="segunda_quienes-somos_titulo">
                            QUIENES  SOMOS
                        </h2>
                        <p class="segunda_quienes-somos_parrafo">
                            Ask CDCR San Quintin State Prison 2008. We installed Purex dispensers throughout the prison to combat diseases…and it was a Roaring Success (as in Roaring Drunk) I mean we had Long lines of prisoners fist fighting to use them.
                        </p>
                    </div>
            </div>
            <div class="segunda_nuestroequipo">
                <h2 class="segunda_nuestroequipo_titulo">NUESTRO EQUIPO</h2>
                <div class="segunda_nuestroequipo_tarjeta">
                    <img src="https://i.pravatar.cc/122" alt="nuestroEquipo" class="segunda_nuestroequipo_tarjeta_imagen">
                    <h3 class="segunda_nuestroequipo_tarjeta_nombre">
                        Cameron Williamson
                    </h3>
                    <h4 class="segunda_nuestroequipo_tarjeta_rol">
                        Dog Trainer
                    </h4>
                </div>
                <div class="segunda_nuestroequipo_tarjeta">
                    <img src="https://i.pravatar.cc/122" alt="nuestroEquipo" class="segunda_nuestroequipo_tarjeta_imagen">
                    <h3 class="segunda_nuestroequipo_tarjeta_nombre">
                        Cameron Williamson
                    </h3>
                    <h4 class="segunda_nuestroequipo_tarjeta_rol">
                        Dog Trainer
                    </h4>
                </div>
                <div class="segunda_nuestroequipo_tarjeta">
                    <img src="https://i.pravatar.cc/122" alt="nuestroEquipo" class="segunda_nuestroequipo_tarjeta_imagen">
                    <h3 class="segunda_nuestroequipo_tarjeta_nombre">
                        Cameron Williamson
                    </h3>
                    <h4 class="segunda_nuestroequipo_tarjeta_rol">
                        Dog Trainer
                    </h4>
                </div>
                <div class="segunda_nuestroequipo_tarjeta">
                    <img src="https://i.pravatar.cc/122" alt="nuestroEquipo" class="segunda_nuestroequipo_tarjeta_imagen">
                    <h3 class="segunda_nuestroequipo_tarjeta_nombre">
                        Cameron Williamson
                    </h3>
                    <h4 class="segunda_nuestroequipo_tarjeta_rol">
                        Dog Trainer
                    </h4>
                </div>
                <div class="segunda_nuestroequipo_tarjeta">
                    <img src="https://i.pravatar.cc/122" alt="nuestroEquipo" class="segunda_nuestroequipo_tarjeta_imagen">
                    <h3 class="segunda_nuestroequipo_tarjeta_nombre">
                        Cameron Williamson
                    </h3>
                    <h4 class="segunda_nuestroequipo_tarjeta_rol">
                        Dog Trainer
                    </h4>
                </div>
            </div>
        </div>
        <div class="tercera">
            <div class="tercera_contenedor_titulo">
                <h2 class="tercera_titulo">contactanos</h2>
            </div>
            <input type="text" placeholder="Nombre" class="tercera_nombre margen_lados_5">
            <input type="email" placeholder="Email" class="tercera_email margen_lados_5">
            <textarea rows="10" cols="30" class="tercera_mensaje margen_lados_5" placeholder="Describe yourself here..."></textarea>

            <button class="tercera_boton margen_lados_5">Enviar</button>

        </div>

    </main>
    <footer class="footer">
        <section class="footer_contactanos">
            <h2 class="footer_contactanos_titulo">- contactanos -</h2>

            <i class="icon-email"></i>
            <h3 class="footer_contactanos_email">alma.lawson@example.com</h3>


            <i class="icon-telefono"></i>
            <h3 class="footer_contactanos_telefono">(303) 555-0105</h3>

            <i class="icon-ubicacion"></i>
            <h3 class="footer_contactanos_ubicacion">8502 Preston Rd. Inglewood, Maine 98380</h3>
        </section>
        <section class="footer_redes">
            <h2 class="footer_redes_titulo">-  redes Sociales  -</h2>
            <i class="icon-insta"></i>
            <h3 class="footer_redes_texto">@cultivandoJuntos</h3>
            <i class="icon-tiktok"></i>
            <h3 class="footer_redes_texto">@cultivandoJuntos</h3>
            <i class="icon-face"></i>
            <h3 class="footer_redes_texto">@cultivandoJuntos</h3>
            <h4 class="footer_redes_derechos">todos los derechos reservado @ grupo 7 mini tic</h4>
        </section>
    </footer>
    <div class="modal_login">
        <h2 class="modal_login_titulo">Inicia Sesión </h2>
        <img class="modal_login_imagen" src="../../static/images/index/login.png" alt="cultivando juntos login">
        <input  class="modal_login_email" type="email" placeholder="Correo Electronico">
        <input class="modal_login_pass" type="password" placeholder="Contraseña">
        <div class="modal_login_contenedor_botones">
            <button class="modal_login_contenedor_botones-login">login</button>
            <button class="modal_login_contenedor_botones-cancelar">cancelar</button>
        </div>
        <a class="modal_login_olvide" href="">olvide mi contrasña</a>
    </div>
    <div class="modal_crear-cuenta">
        <div class="modal_crear-cuenta_contenedor_titulo">
            <h2 class="modal_crear-cuenta_titulo titulos-movil-700">¡¡ UNETE A NOSOTROS Y CULTIVEMOS JUNTOS !!</h2>
        </div>
        <img class="moldar_crear-cuenta_imagen" src="../../static/images/index/cultivandoJuntosCrearCuenta.png" alt="">
        <input class="moldar_crear-cuenta_nombre titulos-movil-300 campo-texto-movil" type="text" placeholder="nombres">
        <input class="moldar_crear-cuenta_apellidos titulos-movil-300 campo-texto-movil" type="text" placeholder="apellidos">
        <input class="moldar_crear-cuenta_correo titulos-movil-300 campo-texto-movil" type="email" placeholder="correo electronico">
        <input class="moldar_crear-cuenta_clave titulos-movil-300 campo-texto-movil" type="password" placeholder="contraseña">
        <input class="moldar_crear-cuenta_clave titulos-movil-300 campo-texto-movil" type="password" placeholder="confirmar contraseña">
        <div class="moldar_crear-cuenta_contenedor_botones">
            <button class="moldar_crear-cuenta_btn_crear-cuenta boton-positivo-movil">crear cuenta</button>
            <button class="moldar_crear-cuenta_btn_cancelar boton-negativo-movil">cancelar</button>
            <a class="moldar_crear-cuenta_volver link-modales-movil" href="">volver al inicio</a>
        </div>
    </div>
    <div class="modal_olvido">
        <h2 class="modal_olvido_titulo">¿olvido su contraseña?</h2>
        <p class="modal_olvido_parrafo">Ingrese la direccion de correo que utilizó para registrarse y enviaremos una contraseña temporal</p>
        <input class="modal_olvido_correo titulos-movil-300 campo-texto-movil" type="text" placeholder="Correo Electronico">
        <div class="modal_olvido_contenedor_botones">
            <button class="modal_olvido_enviar boton-positivo-movil">enviar contraseña</button>
            <button class="modal_olvido_cancelar boton-negativo-movil" >cancelar</button>
            <a class="modal_olvido_link link-modales-movil" href="">volver al inicio</a>
        </div>
    </div>
    <div class="modal_cuenta_creada">
        <i class="icon-check moldal_cuenta_creada_icono"></i>
        <hr class="modal_cuenta_creada_linea">
        <p class="moldal_cuenta_creada_parrafo titulos-movil-700">tu cuenta fue creada con exito</p>
    </div>
    <div class="modal_envio_clave">
        <i class="icon-check moldal_cuenta_creada_icono"></i>
        <hr class="modal_cuenta_creada_linea">
        <p class="moldal_cuenta_creada_parrafo titulos-movil-700">te enviamos un correo con tu contraseña</p>
    </div>

</body>
</html>
