.primera{
    display: flex;
    flex-direction: column;
    background-image: url("../images/index/fondo1.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    height: 665px;
    align-items: center;
}

.primera_titulo{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    color:var(--color-verde-oscuro-2);
    margin: 52px 5% 0 5%;

}

.primera_parrafo{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-negro-claro-1);
    margin: 35px 5% 0 5%;
    text-align: justify;
}

.primera_botton{
    font-family: 'Urbanist', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-verde-oscuro-1);
    text-transform: uppercase;
    padding: 19px 40px;
    background: #FFFFFF;
    border: 5px solid var(--color-verde-oscuro-1);
    border-radius: 40px;
    margin-top: 50px;
}
.primera_imagen{
    margin-top: 25px;
}

/* todo: ->> segunda contenedor de nosotros y nuestro equipo<<--*/
.segunda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.segunda_quienes-somos{
    background-image: url("../images/index/quienesSomosM.png");
    background-repeat: no-repeat;
    height: 529px;
    background-size: cover;

}
.segunda_quienes-somos_contenedor{
    color: white;
    margin: 25px;
    padding: 20px;
    height: 430px;
    border: #FFFFFF solid 6px;
}
.segunda_quienes-somos_titulo{
    border-bottom: #FFFFFF dashed medium;
    padding: 20px 0;
    border-top: #FFFFFF dashed medium;
    font-family: 'Urbanist', sans-serif;
    text-align: center;

}
.segunda_quienes-somos_parrafo{
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 149%;
}

.segunda_nuestroequipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.segunda_nuestroequipo_titulo{
    display: flex;
    flex-direction: row;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: var(--color-verde-oscuro-1);
}

.segunda_nuestroequipo_titulo:after{
    content: "";
    background-image: url("../images/index/hojadeco.png");
    display: block;
    width: 43px;
    height: 55px;
    transform: translateY(-15px) scale(0.8);
}

.segunda_nuestroequipo_titulo:before{
    content: "";
    background-image: url("../images/index/hojadeco.png");
    display: block;
    width: 43px;
    height: 55px;
    transform: translateY(-15px) scale(0.8) rotateY(180deg);
}

.segunda_nuestroequipo_tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #388253 dashed 2px;
    padding: 30px 10px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--color-nuestro-equipo-fondo-tarjeta);
    margin-bottom: 20px;
}
.segunda_nuestroequipo_tarjeta:nth-child(odd){
    border: var(--color-text-nuestro-equipo-azul) dashed 2px;
    background-color: var(--color-nuestro-equipo-fondo-tarjeta-par);

}
.segunda_nuestroequipo_tarjeta_imagen{
    border-radius: 50%;
    border: #FFFFFF solid 5px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25))
}

.segunda_nuestroequipo_tarjeta_nombre{
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--color-verde-oscuro-1);
}
.segunda_nuestroequipo_tarjeta:nth-child(odd) .segunda_nuestroequipo_tarjeta_nombre{

    color: var(--color-text-nuestro-equipo-azul);
}
.segunda_nuestroequipo_tarjeta_rol{
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--color-negro-claro-1);
}
/* tercera */

.tercera{

    display: flex;
    flex-direction: column;
    height: 630px;
    background: linear-gradient(180deg, #43AB5F 10.46%, #71BE63 100%);
}
.tercera_contenedor_titulo{
    border-bottom: #FFFFFF dashed 2px;
}
.tercera_titulo{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.tercera_titulo:after{
    content: "";
    background-image: url("../images/index/hojadeco.png");
    display: block;
    width: 43px;
    height: 55px;
    transform: translateY(-15px) scale(0.8);
}

.tercera_titulo:before{
    content: "";
    background-image: url("../images/index/hojadeco.png");
    display: block;
    width: 43px;
    height: 55px;
    transform: translateY(-15px) scale(0.8) rotateY(180deg);
}

.tercera_nombre,.tercera_email{
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    border: none;
    margin-top: 20px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.tercera_mensaje{
    padding: 20px 10px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    border: none;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.tercera_boton{
    margin-top: 20px;
    border: white solid 4px;
    text-transform: uppercase;
    padding: 20px 0;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    border-radius: 2px;
    color: white;
    background-color: var(--color-contacto-boton-fondo);
}
