:root{
    --color:red;
    --color-verde-oscuro-1: #388253;
    --color-verde-oscuro-2: #43AB5F;
    --color-negro-claro-1: #343433;
    --color-text-nuestro-equipo-azul: #189FBD;
    --color-nuestro-equipo-fondo-tarjeta:#EEFFDE;
    --color-nuestro-equipo-fondo-tarjeta-par:rgba(9, 153, 185, 0.11);
    --color-contacto-boton-fondo: #0999B9;
    --color-footer-redes-fondo: #4CA366;
    --color-header-menu-movil-destacado:#ACEF6A;
    --color-modal-login-boton-cancelar:#FF603D;
}
